body {background-color: #222;}
body, button, input, select, textarea {font-size: 18px;font-weight: 400;}
.inside-top-bar {padding: 10px 60px 5px;}
.top-bar {font-weight: 400;font-size: 18px;text-transform: none;}
.inside-header {padding: 0 55px 0 60px;}
.main-title {text-transform: none;font-weight: 700;font-size: 55px;line-height: 1.2;position: relative;}
.gotra-title-underline .main-title {text-decoration: underline;}
.main-navigation a {font-weight: 700;text-transform: uppercase;font-size: 20px;}
.main-navigation .main-nav ul li a, .main-navigation .mobile-bar-items a, .menu-toggle {padding-left: 10px;padding-right: 10px;line-height: 72px;}
.menu-item-has-children .dropdown-menu-toggle {padding-left: 10px;}
button.menu-toggle:hover, button.menu-toggle:focus {background-color: inherit;}
.sticky-enabled .main-navigation.is_stuck {box-shadow: none !important;}
.fluid-header.sticky-enabled .main-navigation.is_stuck .inside-navigation {padding-left: 80px !important;padding-right: 80px !important;}
.button, .woocommerce a.button, .woocommerce button.button {padding: 12px 25px;}
.button, .button:visited, button:not(.menu-toggle), html input[type="button"], input[type="reset"], input[type="submit"], .woocommerce a.button {font-size: 22px;font-weight: 700;text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"], a.button, a.button:visited {-webkit-transition: all .3s;transition: all .3s;transition: all .3s;-o-transition: all .3s;}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover, button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, a.button:focus {transform: scale(1.1);}
.gotra-button .button, .gotra-button .button:visited, .gotra-button button:not(.menu-toggle), html .gotra-button input[type="button"], .gotra-button input[type="reset"], .gotra-button input[type="submit"], .woocommerce.gotra-button a.button, .woocommerce.gotra-button button.button.alt {border-radius: 50px;border: 3px solid;background: transparent;text-decoration: none;}
.one-container .site-content, .separate-containers .comments-area, .separate-containers .inside-article, .separate-containers .page-header, .separate-containers .paging-navigation {padding: 25px 60px 20px;}
.site-info {font-size: 18px;font-weight: 400;padding: 10px 60px;}
.lalita-side-left-content {font-size: 22px;font-weight: 400;margin: 150px 0px 0px 0px;}
.lalita-side-left-content .lalita-side-left-socials ul, .lalita-side-left-content .lalita-side-left-text {padding: 5px 10px;margin-top: 50px;}
.page-header-blog-content-h, .page-header-blog-content-b {display: inline-block;padding: 0;height: auto;vertical-align: middle;}
.page-header-blog-content-h {width: 65%;}
.page-header-blog-content.page-header-blog-content-b {width: 32%;}
.page-header-blog-content-h .page-header-blog-content {margin: 0;text-align: center;padding: 0;}
.page-header-blog-text, .page-header-blog-button {display: block;width: 100%;text-align: left;}
.page-header-blog-content h2 {font-size: 90px;font-weight: 700;padding: 0;line-height: 1.2;margin-bottom: 5%;margin-left: 80px;}
.page-header-blog-text p {font-size: 22px;font-weight: 400;padding: 0;line-height: 1.2;margin-bottom: 0;margin-left: 30px;}
.page-header-blog-button a.button {border-radius: 0;margin-bottom: 10px;text-transform: none;font-weight: 700;margin-left: 30px;}
.page-header-blog {padding: 0;background-size: cover;background-position: center center;margin: 0;}
.page-header-noiseoverlay {position: absolute;height: 100%;width: 100%;opacity: .25;background-color: #000;}
.page-header-blog-inner {max-width: 2000px;margin: auto;padding: 5% 0;z-index: 2;}
.site-footer .footer-widgets-container .inner-padding {padding: 0 0 20px 40px;}
.footer-widgets {padding: 40px 60px;}
.widget-title {font-weight: 700;}
.elementor-page .screen-reader-text {top: inherit;}
.post-type-archive-product.post-image-above-header.woocommerce-page .post-image {display: none;}
.entry-summary a, .entry-content a, .comment-content a, .textwidget a {text-decoration: underline;}
body .grid-container {max-width: 2000px;}
.inside-top-bar .textwidget i {margin-right: 5px;}
.top-bar p {margin-bottom: 0;}
.inside-navigation .search-form input[type="search"]:focus {color: #fff !important;}
.lalita-back-to-top {border-radius: 0;right: 10px;}
.transparent-header.home .main-navigation.is_stuck {background-color: transparent;}
.main-navigation.sticky-navigation-transition .navigation-logo img {padding-left: 0;}
.footer-bar .lalita-social-bar {float: right;}
.footer-bar .lalita-socials-list li {display: inline-block;padding-left: 8px;}
.transparent-header .main-navigation.is_stuck {background-image: url("img/gotra-bg.gif");}
.gotra-img-effect-holder {position: relative;}
.gotra-img-effect-holder img {display: block;}
.gotra-img-effect-holder .gotra-img-effect-layer {position: absolute;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;opacity: 0;background-image: url("img/gotra-bg.gif");-webkit-transition: all .35s ease;transition: all .35s ease;mix-blend-mode: difference;}
.gotra-img-effect-holder:hover .gotra-img-effect-layer {opacity: 1;}
@media (max-width: 1200px) {.page-header-blog-content-h .page-header-blog-content {padding: 0;}
	.page-header-blog-content-h h2 {font-size: 50px;}}
@media (max-width: 1024px) {.main-navigation .main-nav ul li a, .main-navigation .mobile-bar-items a, .menu-toggle {padding-left: 5px;padding-right: 5px;}}
@media (max-width: 768px) {body {padding: 2px;}
	.page-header-blog {margin: 0;}
	.page-header-blog-content-h, .page-header-blog-content.page-header-blog-content-b {display: block;width: 100%;}
	.page-header-blog img {width: 80%;margin-top: 40px;margin-left: 5%;}
	.page-header-blog-content-h h2 {font-size: 40px;margin-top: 30px;margin-left: 30px;}
	.page-header-blog-content-h p {font-size: 22px;width: 90%;}
	.page-header-blog-content-h .page-header-blog-content, .page-header-blog-image {width: initial;margin: 0;}
	.page-header-blog-content a.button {margin-left: 30px;}
	.main-navigation.toggled .main-nav li.wpkoi-nav-btn-h {display: inline-block !important;}
	.main-navigation.toggled .main-nav li.wpkoi-nav-btn-h .wpkoi-nav-btn {padding: 0 25px;}
	body {padding: 0;}
	.lalita-side-left-cover, .lalita-side-right-cover {width: 2px;}
	.footer-bar .widget, .footer-bar .lalita-social-bar {float: none;margin: 0 10px;}
	button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover, button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, a.button:focus, header .main-navigation .main-nav ul li a.wpkoi-nav-btn {transform: scale(1);}
	.elementor-page #page::-webkit-scrollbar, .elementor-template-canvas .elementor-inner::-webkit-scrollbar, .elementor-template-canvas .elementor-section-wrap::-webkit-scrollbar {display: none;}
	.inside-top-bar, .site-info {padding-left: 20px !important;padding-right: 20px !important;}
	.footer-bar .widget, .footer-bar .lalita-social-bar {float: none;margin: 0 10px;}}